@use '../../styles/variables' as *;

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  justify-content: center;
  color: $color-dark-green;

  .cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    gap: 70px;
  }

  .products-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .product-card-list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 500px;
    }
  }

  .price-container,
  .promo-container {
    display: flex;
    flex-direction: column;
  }

  .promo-container,
  .full-price-container {
    padding: 20px;
  }

  .price-container {
    width: 300px;
    justify-content: space-between;
  }

  .total-message {
    font-size: 25px;
  }

  .full-price-container {
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
  }

  .promo-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    background-color: $color-dark-green;
    color: $color-white;
    align-items: center;
    gap: 10px;

    button {
      border-color: $color-white;
      span {
        color: $color-white;
      }

      &:hover {
        background-color: $color-white;
        span {
          color: $color-dark-green;
        }
      }
    }
  }

  .total-price {
    font-size: 30px;
  }

  .old-price {
    text-decoration: line-through;
  }

  .place-order-button {
    align-self: unset;
  }
}

.discount-container {
  display: flex;
  align-items: center;

  .promo-tag-container {
    display: flex;
    padding: 10px;
    background-color: $color-primary-pink;
    border-radius: 2px;
    position: relative;
    margin-left: 5px;
    .promo-name {
      margin-right: 5px;
    }

    .remove-promo-button {
      background-color: unset;
      padding: 3px;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 0;
      &:hover {
        color: $color-white;
      }
    }
  }
}

.valid-promo-error {
  color: $color-color-wrong;
}

.empty_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-message-empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

@media (max-width: 880px) {
  .products-container {
    flex-direction: column;
  }
  .price-container {
    display: flex;
    flex-direction: row !important;
    width: auto !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 490px) {
  .price-container {
    flex-direction: column !important;
  }
}
