@use '../../styles/variables' as *;

.catalog {
  color: $color-dark-green;
  display: flex;
  flex-direction: column;

  .catalog_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    min-height: 1900px;
    width: 1000px;

    &.six {
      min-height: 1500px;
    }
  }

  &__bread {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__header {
    padding: 30px 0 50px 0;
    font-size: 50px;
    text-align: center;
  }

  &__search {
    &__input {
      border: 1px solid $color-dark-green;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 200px;

    &__title {
      font-size: 25px;
      padding-bottom: 12px;
    }

    &__properties {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: 665px) {
        flex-direction: column;
      }

      select {
        border: 1px solid $color-dark-green;
      }
    }

    &__color {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .color-options {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      button {
        height: 30px;
        width: 100%;
        border-radius: 2px;
        &.active {
          background-color: $color-dark-green;
          color: $color-white;
        }
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .price-options {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      button {
        height: 30px;
        width: 100%;
        border-radius: 2px;
        &.active {
          background-color: $color-dark-green;
          color: $color-white;
        }
      }
    }

    &__type {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .custom-select__dropdow {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 4px;
        border: 1px solid $color-dark-green;
        background: $color-white;
        z-index: 10;
        list-style: none;
        padding: 0;

        li {
          &:hover {
            background-color: $color-primary-pink;
          }
        }
      }
    }

    &__occasions {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .occasions-options {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      button {
        height: 30px;
        width: 100%;
        border-radius: 2px;
        &.active {
          background-color: $color-dark-green;
          color: $color-white;
        }
      }
    }
  }

  &__sort {
    position: relative;
    display: inline-block;

    &-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        path {
          fill: $color-dark-green;
        }
      }
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin-top: 4px;
      border: 1px solid $color-dark-green;
      background: $color-white;
      z-index: 10;
      list-style: none;
      padding: 0;

      .catalog__sort-option {
        padding: 8px 12px;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: $color-primary-pink;
        }
      }
    }
  }

  &__search {
    input {
      padding: 10px;
      border-radius: 12px;
    }
  }

  .cards_flex_container {
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: flex-end;

    &.six {
      width: auto;
    }
  }

  &__cards {
    display: grid;
    justify-content: space-between;
    grid-template: auto/repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 900px) {
      grid-template: auto/repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template: auto/repeat(1, 1fr);
    }

    &.six {
      grid-template: auto / repeat(3, 1fr);
    }
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    width: 300px;
    height: 450px;

    @media (any-hover: hover) {
      &:hover {
        .catalog__card__img img {
          transform: scale(1.2);
        }

        .sale-tag_container {
          top: 15px;
        }

        .show-cart_container {
          display: flex;
        }
      }
    }

    &__img {
      width: 280px;
      height: 300px;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: fill;
        width: 100%;
        height: 100%;
      }

      .sale-tag_container {
        position: absolute;
        top: 20px;
        background-color: $color-primary-pink;
        padding: 10px;

        span {
          color: $color-white;
        }
      }

      .show-cart_container {
        position: absolute;
        padding: 10px;
        width: 40px;
        height: 80px;
        background-color: $color-primary-pink;
        bottom: 10px;
        right: 5px;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        .separator {
          width: 20px;
          height: 2px;
          background-color: $color-white;
        }

        .add-to-cart-button-in-catalog {
          background-color: unset;
          padding: 0;
          width: 18px;
          height: 18px;
          border: unset;

          svg {
            width: 18px;
            height: 18px;
            fill: $color-white;

            &:hover {
              transform: none !important;
            }
          }

          &:hover {
            transform: unset;
            background-color: unset;
            border: unset;
          }
        }
      }
    }

    &__name {
      text-align: center;
      min-height: 20px;
    }

    &__description {
      height: 70px;
      overflow: hidden;

      p {
        text-align: justify !important;
        font-size: 14px !important;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &__price {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &__original {
        &.shadow {
          text-decoration: line-through;
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: unset;

    &.pagination-button {
      border: 1px solid $color-dark-green;

      svg {
        path {
          fill: $color-dark-green;
        }
      }

      &:hover {
        background-color: $color-dark-green;

        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }

    &.active-page {
      font-weight: bold;
      cursor: default;

      &:hover {
        color: $color-dark-green;
        background-color: unset;
      }
    }

    .active-page,
    .page {
      color: $color-dark-green;

      &:hover {
        color: $color-primary-pink;
        background-color: unset;
      }
    }

    &:disabled {
      cursor: default;

      &:hover {
        background-color: unset;

        svg {
          path {
            fill: $color-dark-green;
          }
        }
      }
    }
  }
}

.configur_container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    &:hover {
      svg {
        fill: $color-white;
      }
      path {
        fill: $color-white;
      }
    }
  }

  .first {
    display: flex;
    gap: 20px;

    .search-container {
      display: flex;
      align-items: center;
      position: relative;

      .search-button {
        position: absolute;
        width: 20px;
        height: 20px;
        border: unset;
        right: 10px;

        &:hover {
          background-color: unset;
        }
      }
    }
    svg {
      fill: $color-dark-green;
    }
  }

  .conf-icon {
    width: 20px;
    height: 20px;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  height: 80px;

  .sub-categories-list {
    display: flex;
    gap: 10px;
    p {
      cursor: pointer;
      &:hover {
        color: $color-primary-pink;
      }
    }
  }
}

.no-products_container {
  width: 50%;
}

.cards_with_filtres_container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 100%;

  .cards_with_pagination_container {
  }

  .filters_container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
  }
}

.custom-select {
  position: relative;
  width: 200px;
  border: 1px solid $color-dark-green;
  border-radius: 2px;
  background-color: $color-white;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__selected {
    padding: 10px;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-dark-green;
    border-top: none;
    z-index: 10;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary-pink;
        color: $color-white;
      }

      &.active {
        background-color: $color-primary-pink;
        color: $color-white;
      }
    }
  }
}
