@use '../../styles/variables' as *;

.catalog {
  padding-bottom: 30px;

  &__filter__search {
    border: 1px solid #ff4040;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.5s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: red;
        background-color: white;
      }
    }
  }

  &__bread {
    &__container {
      display: flex;
      gap: 20px;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    &__title {
      font-size: 22px;
    }

    select {
      border: 1px solid #000;
      padding: 3px;
      border-radius: 5px;
      max-width: 150px;
    }

    .bread__links {
      display: flex;
      column-gap: 15px;
      padding-bottom: 10px;

      .bread__link {
        color: blue;

        &:not(:last-child) {
          &::after {
            padding-left: 10px;
            content: '=>';
          }
        }
      }
    }
  }

  &__header {
    padding: 30px 0 50px 0;
    font-size: 50px;
    text-align: center;
  }

  &__search {
    &__input {
      border: 1px solid #000;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 300px;

    &__title {
      font-size: 25px;
      padding-bottom: 12px;
    }

    &__properties {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: 665px) {
        flex-direction: column;
      }

      select {
        border: 1px solid #000;
      }
    }

    &__color {
      display: flex;
      flex-direction: column;
      column-gap: 12px;

      &__label {
        font-size: 22px;
      }

      select {
        border-radius: 5px;
        padding: 5px;
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      column-gap: 12px;

      &__label {
        font-size: 22px;
      }

      select {
        border-radius: 5px;
        padding: 5px;
      }
    }

    &__type {
      display: flex;
      flex-direction: column;
      column-gap: 12px;

      &__label {
        font-size: 22px;
      }

      select {
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  &__sort {
    margin-bottom: 12px;
    padding: 10px 10px 10px 0px;

    &__title {
      font-size: 25px;
      padding-bottom: 10px;
    }

    &__properties {
      display: flex;
      column-gap: 15px;
    }

    &__name {
      display: flex;
      column-gap: 3px;
      align-items: center;
      transition: all 0.5s ease 0s;
      border-radius: 12px;
      padding: 7px;

      &.active {
        background-color: rgb(0, 244, 0);
      }

      &__img {
        cursor: pointer;

        img {
          width: 12px;
          height: 12px;
          transition: all 0.8s ease 0s;
        }

        &.up {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__price {
      display: flex;
      column-gap: 3px;
      align-items: center;
      transition: all 0.5s ease 0s;
      border-radius: 12px;
      padding: 7px;

      &.active {
        background-color: rgb(0, 244, 0);
      }

      &__img {
        cursor: pointer;

        &.up {
          img {
            transform: rotate(180deg);
          }
        }
      }

      img {
        width: 12px;
        height: 12px;
        transition: all 0.8s ease 0s;
      }
    }
  }

  &__search {
    input {
      padding: 10px;
      border-radius: 12px;
    }
  }

  &__cards {
    display: grid;
    justify-content: space-between;
    grid-template: auto/repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 900px) {
      grid-template: auto/repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template: auto/repeat(1, 1fr);
    }
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    width: 300px;

    @media (any-hover: hover) {
      &:hover {
        .catalog__card__img img {
          transform: scale(1.2);
        }

        .sale-tag_container {
          top: 15px;
        }

        .show-cart_container {
          display: flex;
        }
      }
    }

    &__img {
      width: 100%;
      min-height: 300px;
      position: relative;
      overflow: hidden;

      img {
        transition: all 0.5s ease 0s;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      .sale-tag_container {
        position: absolute;
        top: 20px;
        background-color: $color-primary-pink;
        padding: 10px;

        span {
          color: $color-white;
        }
      }

      .show-cart_container {
        position: absolute;
        padding: 10px;
        width: 40px;
        height: 80px;
        background-color: $color-primary-pink;
        bottom: 10px;
        right: 5px;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        .separator {
          width: 20px;
          height: 2px;
          background-color: $color-white;
        }

        .add-to-cart-button-in-catalog {
          background-color: unset;
          padding: 0;
          width: 18px;
          height: 18px;
          border: unset;

          svg {
            width: 18px;
            height: 18px;
            fill: $color-white;

            &:hover {
              transform: none !important;
            }
          }

          &:hover {
            transform: unset;
            background-color: unset;
            border: unset;
          }
        }
      }
    }

    &__name {
      text-align: center;
      min-height: 20px;
    }

    &__description {
      height: 70px;
      p {
        text-align: justify !important;
        font-size: 14px !important;
      }
    }

    &__price {
      display: flex;
      align-items: center;
      justify-content: center;

      &__original {
        &.shadow {
          text-decoration: line-through;
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: unset;

    &.pagination-button {
      border: 1px solid $color-dark-green;

      svg {
        path {
          fill: $color-dark-green;
        }
      }

      &:hover {
        background-color: $color-dark-green;

        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }

    &.active-page {
      font-weight: bold;
      cursor: default;

      &:hover {
        color: $color-dark-green;
        background-color: unset;
      }
    }

    .active-page,
    .page {
      color: $color-dark-green;

      &:hover {
        color: $color-primary-pink;
        background-color: unset;
      }
    }

    &:disabled {
      cursor: default;

      &:hover {
        background-color: unset;

        svg {
          path {
            fill: $color-dark-green;
          }
        }
      }
    }
  }
}

.configur_container {
  display: flex;
  justify-content: space-between;
  margin: 80px 20px 20px 20px;

  button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first {
    display: flex;
    gap: 20px;

    .search-container {
      display: flex;
      align-items: center;
      position: relative;

      .search-button {
        position: absolute;
        width: 20px;
        height: 20px;
        border: unset;
        right: 10px;

        &:hover {
          background-color: unset;
        }
      }
    }
  }

  .conf-icon {
    width: 20px;
    height: 20px;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  height: 80px;

  .sub-categories-list {
    display: flex;
    gap: 10px;
  }
}

.cards_with_filtres_pagination_container {
  display: flex;
  justify-content: space-evenly;

  .cards_with_pagination_container {
  }
}
