@use '../../styles/variables' as *;

.shop-nav {
  color: $color-dark-green;
  min-height: 165px;

  &__content {
    min-height: 165px;
    background-image: url('../../assets/Catalog/shop.png');
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 520px) {
      justify-content: flex-start;
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    @media (max-width: 520px) {
      color: $color-white;
    }
  }
  &__links {
    display: flex;
    p {
      cursor: pointer;
      &:hover {
        color: $color-primary-pink;
      }
    }

    @media (max-width: 520px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
