@use '../../styles/variables' as *;

.shop_navigation {
  color: $color-dark-green;
  min-height: 165px;

  .shop_navigation_content {
    min-height: 165px;
    background-image: url('../../assets/Catalog/shop.png');
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .nav_text_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 500px;
      .nav-links_container {
        display: flex;
      }
    }
  }
}
