@use '../../styles/variables' as *;

.user-profile-page {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: center;

  .user-profile-page_content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media (max-width: 1100px) {
      justify-content: center;
      flex-direction: column;
    }

    .menu {
      background-color: $color-dark-green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 350px;
      position: relative;

      p {
        color: $color-white;
      }
      .branch {
        position: absolute;
        right: 0;
        top: 10px;
      }

      button {
        &:hover {
          p {
            color: $color-primary-pink;
          }
        }
      }

      @media (max-width: 1100px) {
        height: 70px;
        flex-direction: row;
        svg {
          display: none;
        }
      }
      @media (max-width: 770px) {
        button {
          max-width: 100px;
        }
      }
      @media (max-width: 390px) {
        gap: 0;
        button {
          width: 80px;
          p {
            font-size: 10px;
          }
        }
      }
    }
    .data_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 600px;
      background-color: $color-content-background;
      color: $color-dark-green;
      @media (max-width: 710px) {
        width: 100%;
      }
    }
  }
}

.user-profile-page {
  form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    label {
      display: flex;
      flex-direction: column;
      font-weight: 600;
    }
  }

  .profile-summary {
    display: flex;
    flex-direction: column;
    height: 210px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    div {
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .toggle-password-btn {
    color: #fff;
    cursor: pointer;
  }
}

.password-form {
  width: 100%;

  .password-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      border: 1px solid $color-dark-green;
    }

    .input-name {
      p {
        color: $color-dark-green;
      }
    }

    .input_icon_visibility {
      position: relative;
      .password-visibility-icon-container {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
          fill: $color-dark-green;
        }
      }
    }

    p {
      color: $color-color-wrong;
      text-align: justify;
    }
  }

  .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;

  input,
  select {
    border: 1px solid $color-dark-green;
    padding: 10px;
  }

  input:focus {
    border-color: $color-primary-pink;
    outline: none;
  }
}

@media (max-width: 600px) {
  .user-profile-page {
    padding: 1rem;

    form fieldset {
      flex-direction: column;

      label {
        flex: 1 1 100%;
      }
    }
  }
}

.address-management,
.main-info-management {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 90%;

  .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }

  &__details {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .address {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: 500px) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .tag {
      background-color: $color-primary-pink;
      color: $color-white;
      padding: 5px;
      border-radius: 2px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: unset;
      &:hover {
        background-color: unset;
      }
    }

    label {
      display: flex;
      align-items: center;
      font-size: 0.85rem;
      cursor: pointer;

      input {
        margin-right: 0.25rem;
      }
    }
  }

  &__edit-form,
  &__add-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $color-dark-green;
    }
    .input-validation-span {
      color: $color-color-wrong;
      text-align: justify;
    }

    .check-box-default-address {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      span {
        display: flex;
        width: 80%;
      }
      input {
        width: 20px;
        height: 20px;
      }
    }

    .input-validation-span {
      color: $color-color-wrong;
      text-align: justify;
    }
  }
}

.modal-profile-container,
.edit-address-modal-container,
.add-address-modal-container {
  width: 100%;
  padding: 10px;

  .modal-profile-form {
    color: $color-dark-green;
  }
}

.edit-address-modal-container {
  label {
    color: $color-dark-green;
  }

  .check-box-default-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
      display: flex;
      width: 80%;
    }
    input {
      width: 20px;
      height: 20px;
    }
  }
}

.update-modal-message-container {
  display: flex;
  padding: 20px;
  width: 300px;

  .update-modal-message-text {
    display: flex;
    font-size: 20px;
    text-align: center;
  }
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
