@use '../../styles/variables' as *;

.error {
  display: flex;
  color: $color-dark-green;

  .error_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    .error_text_container {
      width: 550px;
      min-height: 650px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      .error_header {
        font-weight: 275;
        font-size: 200px;
      }
    }

    .error_img_container {
      width: 650px;
      height: 970px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  @media (max-width: 1300px) {
    .error_img_container {
      display: none;
    }
  }

  @media (max-width: 650px) {
    h1 {
      font-size: 30px;
    }
    .error_text_container {
      width: 100% !important;
    }
    .error_header {
      font-size: 150px !important;
    }
  }
}
