$color-primary-pink: rgba(244, 158, 160, 0.5);
$color-dark-green: #46544f;
$color-white: #fff;
$color-color-wrong: #ffd1d2;
$color-content-background: #f8f3ee;

$overlay-background: rgba(0, 0, 0, 0.4) !default;
$shadow:
  0 2px 6px rgba(0, 0, 0, 0.08),
  0 4px 12px rgba(0, 0, 0, 0.06) !default;

$font-family: 'Poppins', sans-serif;
$second-family: 'SF Pro', sans-serif;
$third-family: 'Montserrat', sans-serif;


$font-h1: clamp(28px, 5vw, 50px);
$font-h2: clamp(24px, 4vw, 36px);
$font-h3: clamp(20px, 3.5vw, 30px);
$font-medium: clamp(16px, 2.5vw, 18px);
$font-light: clamp(20px, 4vw, 32px);
$font-extra-light: clamp(14px, 2.5vw, 16px);
$font-regular: clamp(14px, 2.5vw, 16px);
$font-button: clamp(14px, 2.5vw, 18px);
$font-label: clamp(14px, 2vw, 16px);