@use '../App/null';
@use '../../styles/variables' as *;

body {
  .menu-open & {
    overflow: hidden;
  }
}

#root {
  min-height: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.footer-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-main-page {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main_welcome-info {
  width: 100%;
  height: 700px;
  background-image: url('../../assets/Main/welcome-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-dark-green;

  .main_welcome_content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 70px;

    .main_welcome_header_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .main_welcome_header {
        width: 440px;
        display: flex;
      }
    }

    .main_welcome_customers-experience {
      display: flex;
      justify-content: space-around;
    }

    .separator {
      width: 2px;
      height: 50px;
      background-color: $color-dark-green;
    }

    .main_welcome_button_container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.main_about-us {
  min-height: 690px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark-green;

  .main_about-us-content {
    display: flex;
    width: 70vw;
    gap: 30px;
  }

  .main_about-us_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .main_about-us_text {
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        text-align: justify;
        a {
          color: $color-primary-pink;
          &:hover {
            color: $color-dark-green;
          }
        }
      }
    }
  }
}

.main_saled_plants {
  min-height: 1850px;
  color: $color-dark-green;
  display: flex;
  align-items: center;
  justify-content: center;

  .main_saled_plants_content {
    .main_saled_plants_header_container {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        width: 180px;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    padding: 80px;
    align-items: center;
    justify-content: center;
    justify-items: end;

    .product-card {
      text-align: center;
      position: relative;
      height: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .product-img_container {
        width: 320px;
        height: 320px;

        img {
          width: 100%;
          height: 100%;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .featured {
      grid-column: span 2;
      grid-row: span 2;
      position: relative;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .pionies-label {
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        background-color: $color-white;
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 20px;
        gap: 10px;
        .pionies_button-container {
          display: flex;
          flex-direction: row-reverse;
          button {
            width: 130px;
            height: 40px;
            background-color: $color-primary-pink;
            border: 1px $color-primary-pink solid;
            border-radius: 2px;
            span {
              font-weight: 275;
              font-size: 18px;
              text-align: center;
              color: $color-white;
            }
            &:hover {
              background-color: $color-white;
              span {
                color: $color-primary-pink;
              }
            }
          }
        }
      }
    }

    .featured-content {
      position: absolute;
      bottom: 20px;
      right: 20px;
      text-align: right;
    }

    .right-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.main_promo {
  background-image: url('../../assets/Main/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;

  .main_promo_content {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    .main_promo_header_container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main_promo_text {
      max-width: 600px;
      text-align: justify;
    }
  }
}

.main_flowers-category {
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-green;

  .main_flowers-category_content {
    display: flex;
  }

  .flower-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;

    .left-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }

    .flower-card {
      text-align: center;
      cursor: pointer;

      img {
        width: 100%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }

      p {
        margin-top: 10px;
      }
      &:hover {
        color: $color-primary-pink;
      }
    }
  }
}
