.header {
  padding: 20px 0 15px 0;
  background-color: rgb(156, 96, 247);
  color: rgb(255, 255, 255);
  font-size: 18px;

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 511px) {
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-size: 25px;
      padding: 5px;

      &__img {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;

        @media (any-hover: hover) {
          &:hover {
            img {
              transform: scale(1.5);
            }
          }
        }

        img {
          transition: all 0.5s ease 0s;
          max-width: 100%;
        }
      }

      &__text {
        cursor: pointer;
        align-self: start;
        height: 40px;
        width: 150px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 18px;
        }
      }

      &__cart {
        width: 25px;
        height: 25px;
        transition: all 0.5s ease 0s;
        cursor: pointer;

        @media (any-hover: hover) {
          &:hover {
            fill: white;
          }
        }
      }
    }

    &__body {
      flex: 1 1 auto;
      overflow: hidden;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100dvh;
        top: 0;
        right: 100%;
        overflow: auto;
        transition: all 0.8s ease 0s;
        padding-bottom: 25px;
        z-index: 10;
        background: rgba(0, 0, 0, 0.75);
      }

      .menu-open & {
        right: 0;
      }
    }

    &__list {
      display: flex;
      justify-self: center;
      column-gap: 25px;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        position: absolute;
        justify-content: space-between;
        width: 56.23%;
        min-height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        background: #454354;
        padding: 30px 0 20px 30px;

        li {
          text-decoration: underline;
        }
      }

      @media (max-width: 640px) {
        width: 72.23%;
      }

      &__items {
        display: flex;
        column-gap: 15px;

        @media (max-width: 880px) {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
        }
      }

      &__item {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #fbfafa;
      }

      &__link {
        transition: color 0.3s ease;
        
        &:hover {
          color: #000000;
        }
      }
    }

    &__access {
      display: flex;
      column-gap: 15px;
      justify-content: end;

      @media (max-width: 880px) {
        flex: 1 1 auto;
        text-align: end;
      }

      @media (max-width: 511px) {
        max-height: 50px;
        justify-content: start;
      }

      &__profile {
        width: 25px;
        height: 25px;
        transition: all 0.5s ease 0s;
        cursor: pointer;
        fill: black;

        @media (any-hover: hover) {
          &:hover {
            fill: white;
          }     
        }

        &__link {
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;
        }
      }

      &__login {
        padding: 10px;
        border-radius: 12px;
        background-color: rgb(60, 70, 255);
        max-height: 60px;

        &__link {
        }
      }

      &__registration {
        padding: 10px;
        border-radius: 12px;
        background-color: rgb(0, 115, 6);
        max-height: 60px;

        &__link {
        }
      }
    }
  }
}

.icon-menu {
  display: none;
  background-color: unset;

  @media (max-width: 880px) {
    display: block;
    position: relative;
    width: 20px;
    height: 10px;
    cursor: pointer;
    z-index: 10;

    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
      }

      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}

.cart-counter{
  font-size: 10px;
}