@use '../../styles/variables' as *;

.header {
  padding: 20px;
  color: $color-dark-green;
  height: 80px;

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: 590px) {
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 5px;

      &__img {
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media (any-hover: hover) {
          &:hover {
            img {
              transform: scale(1.5);
            }
          }
        }

        img {
          max-width: 100%;
        }
      }

      &__text {
        display: flex;
        align-items: center;
        height: 40px;
        cursor: pointer;
        align-self: start;
        position: relative;

        &-title:hover {
          color: $color-primary-pink;
        }
      }
    }

    &__body {
      flex: 1 1 auto;
      overflow: hidden;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100dvh;
        top: 0;
        right: 100%;
        overflow: auto;
        z-index: 10;
        background: $overlay-background;
      }

      .menu-open & {
        right: 0;
      }
    }

    &__list {
      display: flex;
      justify-self: center;
      gap: 25px;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        width: 50%;
        min-height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        background: $color-dark-green;
      }

      @media (max-width: 640px) {
        width: 70%;
      }

      &__items {
        display: flex;
        gap: 15px;

        @media (max-width: 880px) {
          flex-direction: column;
          align-items: center;
        }
      }

      &__item {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $color-dark-green;

        @media (max-width: 880px) {
          color: $color-white;
        }
      }

      &__link {
        &:hover {
          color: $color-primary-pink;
        }
      }
    }

    &__access {
      display: flex;
      gap: 15px;
      justify-content: end;
      align-items: center;

      &__separator {
        display: block;
        @media (max-width: 590px) {
          display: none;
        }
      }

      &__cart {
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;

        svg {
          width: 100%;
          height: 100%;
          fill: $color-dark-green;
        }

        &-counter {
          background-color: $color-dark-green;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -8px;
          right: -10px;

          &-value {
            font-size: 10px;
            color: $color-white;
            text-align: center;
          }
        }

        @media (any-hover: hover) {
          &:hover {
            color: $color-primary-pink;
            svg {
              fill: $color-primary-pink;
            }
          }
        }

        @media (max-width: 590px) {
          width: auto;
          height: auto;
          padding: 0;
        }
      }

      &__profile {
        width: 25px;
        height: 25px;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
          fill: $color-dark-green;
        }

        @media (any-hover: hover) {
          &:hover {
            color: $color-primary-pink;
            svg {
              fill: $color-primary-pink;
            }
          }
        }

        @media (max-width: 590px) {
          width: auto;
          height: auto;
          padding: 0;
        }
      }

      &__login {
        padding: 10px;
        max-height: 60px;

        :hover {
          color: $color-primary-pink;
        }

        @media (max-width: 590px) {
          padding: 0;
        }
      }

      &__registration {
        padding: 10px;
        max-height: 60px;

        :hover {
          color: $color-primary-pink;
        }

        @media (max-width: 590px) {
          padding: 0;
        }
      }

      @media (max-width: 880px) {
        flex: 1 1 auto;
        text-align: end;
      }

      @media (max-width: 590px) {
        flex-direction: column;
        color: $color-white;
      }
    }

    &__button {
      &__icon {
        display: none;
        background-color: unset;
        border: unset;

        &:hover {
          background-color: unset;
        }

        @media (max-width: 880px) {
          display: block;
          position: relative;
          width: 20px;
          height: 10px;
          cursor: pointer;
          z-index: 10;

          span,
          &::before,
          &::after {
            content: '';
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-dark-green;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          span {
            top: calc(50% - 1px);
          }

          .menu-open & {
            span {
              width: 0;
            }

            &::before {
              top: calc(50% - 1px);
              transform: rotate(-45deg);
            }

            &::after {
              bottom: calc(50% - 1px);
              transform: rotate(45deg);
            }
            span,
            &::before,
            &::after {
              background-color: $color-white;
            }
          }
        }
      }
    }
  }
}
