@use '../../styles/variables' as *;

.header {
  padding: 20px;
  color: $color-dark-green;
  height: 80px;

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: 511px) {
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: center;
      column-gap: 5px;

      &__img {
        background-color: $color-white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;

        @media (any-hover: hover) {
          &:hover {
            img {
              transform: scale(1.5);
            }
          }
        }

        img {
          transition: all 0.5s ease 0s;
          max-width: 100%;
        }
      }

      &__text {
        cursor: pointer;
        align-self: start;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        h3 {
          &:hover {
            color: $color-primary-pink;
          }
        }
      }
    }

    &__body {
      flex: 1 1 auto;
      overflow: hidden;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100dvh;
        top: 0;
        right: 100%;
        overflow: auto;
        padding-bottom: 25px;
        z-index: 10;
        background: $overlay-background;
      }

      .menu-open & {
        right: 0;
      }
    }

    &__list {
      display: flex;
      justify-self: center;
      column-gap: 25px;

      @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        position: absolute;
        justify-content: space-between;
        width: 56.23%;
        min-height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        background: $color-dark-green;
        padding: 30px 0 20px 30px;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 640px) {
        width: 72.23%;
      }

      &__items {
        display: flex;
        column-gap: 15px;

        @media (max-width: 880px) {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          align-items: center;
        }
      }

      &__item {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $color-dark-green;

        @media (max-width: 880px) {
          color: $color-white;
          text-decoration: unset;
        }
      }

      &__link {
        &:hover {
          color: $color-primary-pink;
        }
      }
    }

    &__access {
      display: flex;
      column-gap: 15px;
      justify-content: end;
      align-items: center;

      @media (max-width: 880px) {
        flex: 1 1 auto;
        text-align: end;
      }

      @media (max-width: 511px) {
        max-height: 50px;
        justify-content: start;
      }

      &__cart {
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;

        svg {
          width: 100%;
          height: 100%;
          fill: $color-dark-green;
        }

        @media (any-hover: hover) {
          &:hover {
            svg {
              fill: $color-primary-pink;
            }
          }
        }
        .cart-counter-container {
          background-color: $color-dark-green;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -8px;
          right: -10px;

          .cart-counter {
            font-size: 10px;
            color: $color-white;
            text-align: center;
          }
        }
      }

      &__profile {
        width: 25px;
        height: 25px;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
          fill: $color-dark-green;
        }

        @media (any-hover: hover) {
          &:hover {
            svg {
              fill: $color-primary-pink;
            }
          }
        }
      }

      &__login {
        padding: 10px;
        max-height: 60px;

        :hover {
          color: $color-primary-pink;
        }
      }

      &__registration {
        padding: 10px;
        max-height: 60px;

        :hover {
          color: $color-primary-pink;
        }
      }
    }
  }
}

.button-menu-container {
  .icon-menu {
    display: none;
    background-color: unset;
    border: unset;

    @media (max-width: 880px) {
      display: block;
      position: relative;
      width: 20px;
      height: 10px;
      cursor: pointer;
      z-index: 10;

      span,
      &::before,
      &::after {
        content: '';
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-dark-green;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: calc(50% - 1px);
      }

      .menu-open & {
        span {
          width: 0;
        }

        &::before {
          top: calc(50% - 1px);
          transform: rotate(-45deg);
        }

        &::after {
          bottom: calc(50% - 1px);
          transform: rotate(45deg);
        }
        span,
        &::before,
        &::after {
          background-color: $color-white;
        }
      }
    }
  }
}
