@use '../../styles/variables' as *;

.footer {
  min-height: 500px;
  display: flex;
  color: $color-dark-green;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color-primary-pink;
  }

  &__sections {
    display: flex;
    min-height: 300px;
    width: 95%;
    margin: 0 auto;
    border-top: 1px $color-white solid;
    border-bottom: 1px $color-white solid;
    padding: 10px;

    @media (max-width: 810px) {
      flex-direction: column;
      width: auto;
      align-items: center;
      justify-content: center;
      gap: 30px;
      border: unset !important;
    }
  }

  &__section {
    @media (max-width: 810px) {
      width: 100% !important;
      gap: 10px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    height: 50px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &-icon {
      width: 48px;
      height: 48px;
      cursor: pointer;

      &:hover {
        fill: $color-white;
        circle {
          fill: $color-white;
        }
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-left: 1px $color-white solid;
    border-right: 1px $color-white solid;
    width: 50%;

    @media (max-width: 810px) {
      padding: 20px 0 20px 0 !important;
      border: unset !important;
      border-top: 1px solid $color-white !important;
      border-bottom: 1px solid $color-white !important;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;
    width: 25%;
    &-header {
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &-page {
      cursor: pointer;
      &:hover {
        color: $color-white;
      }
    }
  }

  &__logo {
    width: 50px;
    height: 50px;
    background-color: $color-white;
    border-radius: 5px;

    &-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__copyright {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top: 1px $color-white solid;
    border-bottom: 1px $color-white solid;
    padding: 10px;
  }

  @media (max-width: 810px) {
    min-height: 900px;
  }
}
