@use '../../styles/variables' as *;

.registration {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form {
    background: $color-dark-green;
    width: 60vw;
    height: 700px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 1090px) {
      width: 70vw;
    }
    @media (max-width: 900px) {
      width: 80vw;
    }

    @media (max-width: 710px) {
      width: 90vw;
    }
  }

  &__branch-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 170px;
    height: 240px;
    path {
      fill: $color-white;
    }
    @media (max-width: 850px) {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
  }

  &__slides-wrapper {
    overflow: hidden;
    width: 100%;
  }

  &__slides {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-data {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: $color-white;
    }

    &__field {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 140px;
      gap: 10px;

      &--checkbox {
        flex-direction: row;
        height: 40px;
        width: 90%;
        align-items: center;
        &-input {
          width: auto;
        }
      }

      &-group {
        display: flex;
        gap: 10px;
      }

      @media (max-width: 500px) {
        width: 90%;
      }
    }
    &__error {
      color: $color-color-wrong;
      text-align: justify !important;
    }

    &__password-wrapper {
      position: relative;
    }

    &__password-toggle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;

      &-icon {
        width: 20px;
        height: 20px;
        path {
          fill: $color-dark-green;
        }
      }
    }

    &__checkbox-label {
      text-align: justify !important;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    button {
      width: 40px;
      height: 40px;
      svg {
        path {
          fill: $color-white;
        }
      }

      &:disabled {
        cursor: default;
        svg {
          path {
            fill: $color-dark-green;
          }
        }
      }
    }
  }

  &__submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    &-button {
      border-color: $color-white;
      span {
        color: $color-white;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: $color-white;
          span {
            color: $color-dark-green;
          }
        }
      }
    }
  }

  &__already-have-account {
    color: $color-white;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__login-link {
    cursor: pointer;
  }

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }
}
