@use '../../styles/variables' as *;

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;

  .registration-content {
    background: $color-dark-green;
    width: 1000px;
    height: 700px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .branch {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 170px;
      height: 240px;
      path {
        fill: $color-white;
      }
    }

    .registration-header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
    }

    .registration-form__slides-wrapper {
      overflow: hidden;
      width: 100%;

      .registration-form__slides {
        display: flex;
        flex-direction: row;
        width: 100%;

        .registration-form__slide {
          flex: 0 0 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .data_container {
            height: 100%;
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: $color-white;
            fieldset {
              width: 100%;
            }

            .country-city_container,
            .postal-street_container {
              display: flex;
              width: 100%;
              gap: 20px;
              align-items: center;
              justify-content: center;

              .input-container {
                width: 350px;
              }
            }

            .input-container {
              display: flex;
              flex-direction: column;
              width: 440px;
              height: 140px;
              gap: 10px;

              &.checkbox {
                flex-direction: row;
                height: 40px;
                width: 100%;
                align-items: center;
                input {
                  width: auto;
                }
                p {
                  color: $color-white;
                }
              }

              p {
                color: $color-color-wrong;
                text-align: justify;
              }

              .pass-with-eye-container {
                position: relative;

                .password-visibility-icon-container {
                  position: absolute;
                  right: 10px;
                  top: 10px;
                  cursor: pointer;

                  svg {
                    path {
                      fill: $color-dark-green;
                    }

                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .registration-form__slide-controls {
      display: flex;
      justify-content: space-between;
      button {
        width: 40px;
        height: 40px;
        svg {
          path {
            fill: $color-white;
          }
        }

        &:disabled {
          cursor: default;
          svg {
            path {
              fill: $color-dark-green;
            }
          }
        }
      }
    }

    .button_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .reg-button {
        border-color: $color-white;
        span {
          color: $color-white;
        }

        @media (any-hover: hover) {
          &:hover {
            background-color: $color-white;
            span {
              color: $color-dark-green;
            }
          }
        }
      }
    }
    .missing-account-message {
      color: $color-white;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;

      .create-account-link {
        cursor: pointer;
      }
    }
  }
}

.modal {
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  max-width: 400px;
  width: 100%;
  text-align: center;

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #d9534f;
  }
}

.registration-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .registration-header-name {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.registration-success-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
